version: '2.0'

services:

  ubuntu-1804:
    command: ./build.sh
    environment:
      - PYTHON_VERSION=${PYTHON_VERSION}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-1804
    image: python-builds:ubuntu-1804
    volumes:
      - ./integration/tmp:/tmp/output
  ubuntu-2004:
    command: ./build.sh
    environment:
      - PYTHON_VERSION=${PYTHON_VERSION}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2004
    image: python-builds:ubuntu-2004
    volumes:
      - ./integration/tmp:/tmp/output

  ubuntu-2204:
    command: ./build.sh
    environment:
      - PYTHON_VERSION=${PYTHON_VERSION}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.ubuntu-2204
    image: python-builds:ubuntu-2204
    volumes:
      - ./integration/tmp:/tmp/output
  centos-7:
    command: ./build.sh
    environment:
      - PYTHON_VERSION=${PYTHON_VERSION}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.centos-7
    image: python-builds:centos-7
    volumes:
      - ./integration/tmp:/tmp/output

  centos-8:
    command: ./build.sh
    environment:
      - PYTHON_VERSION=${PYTHON_VERSION}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.centos-8
    image: python-builds:centos-8
    volumes:
      - ./integration/tmp:/tmp/output

  opensuse-153:
    command: ./build.sh
    environment:
      - PYTHON_VERSION=${PYTHON_VERSION}
      - LOCAL_STORE=/tmp/output
    build:
      context: .
      dockerfile: Dockerfile.opensuse-153
    image: python-builds:opensuse-153
    volumes:
      - ./integration/tmp:/tmp/output
